.viewAssistantListContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 50px;
    gap: 20px;
    flex-wrap: wrap;
}

.addAssistantButton {
    background-color: transparent;
    border: 1px solid var(--purple);
    color: var(--purple);
    padding: 10px;
    outline: none;
    border-radius: 4px;
    font-weight: 400;
}

.addAssistantButton:hover {
    cursor: pointer;
}